.DS_Store
*.zip
*.log

.idea/
.vscode/

client/.dart_tool/
client/.gradle-user-home/
client/.flutter-plugins
client/.flutter-plugins-dependencies
client/build/
client/android/.gradle/
client/android/local.properties
client/ios/Pods/
client/ios/.symlinks/
client/ios/Flutter/ephemeral/
client/__MACOSX/
client/*.iml

provider/.dart_tool/
provider/.gradle-user-home/
provider/.flutter-plugins
provider/.flutter-plugins-dependencies
provider/build/
provider/android/.gradle/
provider/android/local.properties
provider/ios/Pods/
provider/ios/.symlinks/
provider/ios/Flutter/ephemeral/
provider/__MACOSX/
provider/*.iml

admin-panel/uploads/
